/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --opacity-color: #32312d66;
  --text-color: #353430;
  --decor-color: var(--text-color);
  --background-color: #fff1f7;
  --header-color: #ffc2e6;
  --heading-color: var(--text-color);
  --subtitle-color: var(--text-color);
  --text-color-header: var(--text-color);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --opacity-color: #32312d66;
    --text-color: #353430;
    --decor-color: var(--text-color);
    --background-color: #fff1f7;
    --header-color: #ffc2e6;
    --heading-color: var(--text-color);
    --subtitle-color: var(--text-color);
    --text-color-header: var(--text-color);
    --is-light: hidden;
    }
}

.text__link {
  text-decoration: none;
}
